src/*.exe
src/smilecoin
src/smilecoind
src/test_smilecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.smilecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
smilecoin-qt
Smilecoin-Qt.app

# Unit-tests
Makefile.test
litecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
